config.js

#hide config when pushing to github -- but dont hide it when pushing pushing to heroku



node_modules
log.md
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
