.projMenu {
  width: 60%;
  margin: auto;
  top: 2rem;
}

.form {
  width: 55%;
  margin: auto;
  top: 3rem;
}

.proj {
  background-image: url('https://static.kickstarter.com/assets/projects/learn/confetti-bg-40ba994a0c5e274aed6897d4bb0c928dc0044e811bdde2846d7f40ef9440ce69.jpg');
}
