.projMenu {
  width: 25%;
  margin: auto;
  top: 3rem;
  justify-content: center;
  display: flex;
}

.form {

  margin: auto;
  top: 3rem;
  // text-align: center;
  background-image: url('https://static.kickstarter.com/assets/projects/learn/confetti-bg-40ba994a0c5e274aed6897d4bb0c928dc0044e811bdde2846d7f40ef9440ce69.jpg');
  background-size: cover;
  height: 90vh;

  .formContent {
    width: 55%;
    margin: auto;
    margin-top: 3rem;
  }

}

.proj {

  .projVid {
    margin: auto;
    text-align: center;

    background-image: url('https://static.kickstarter.com/assets/projects/learn/confetti-bg-40ba994a0c5e274aed6897d4bb0c928dc0044e811bdde2846d7f40ef9440ce69.jpg');
    background-size: cover;
    height: 90vh;

    video {
    height: 70vh;
    margin: 5rem;
    }


  }

}

#projB {
  background-color: #2bde73;
  z-index: 2;
  top: 65%;
  left: 45%;
  z-index: 2;
  position: absolute;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  line-height: 3.4 !important;
}
