.home {
  width: 100%;
  position: absolute;
}

.jumb {
  height: 500px;
  margin-top: 4.5%;
  margin-bottom: 2%;


  img {
    width: 100%;
    height: 500px;
  }
}

.className {
  height: 475px;
}

.grid {
  h1 {
    text-align: center;
  }
}

.cardImg {
  max-height: 250px;
}

.posFix {

  position: absolute;
  width: 100%;
  top: 9% !important;
}

.mGrid {
  margin: 5rem !important;
    width: 85%;
    margin-left: 17rem !important;

    p span {
      color: #3D3D66;
    }
}
