@import url('https://fonts.googleapis.com/css?family=Signika');

#menu {
  margin: 0;
}

.title1 {
  color: #2BDE73
}

.title {
  margin-left: 30%;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
}
