.viewContainer{
  width:100%;
  display: flex;
  flex-direction: row;
  padding: 0 40px 0 40px;

  .goal{
    width:25%;height:500px;
    background-color: #05AF3C;
  }
  .media{
    width:75%;height:500px;
    background-color: red;
  }


}
