.viewContainer{
  width:100%;
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;

  .top{
    display: flex;
    flex-direction: row;
  }
  .goal{
    width:30%;
    // height:500px;
    // background-color: #05AF3C;
    margin:0 10px;
    position: relative;
  }
  .media{
    width:70%;height:500px;
    // background-color: red;
    margin: 0 10px;
    padding: 0 6rem;
  }


  .title {
    margin: 3.8rem 0;
    padding-left: 15%;
    font-family: Helvetica;

    p {
      color: #626369;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }

  #background-video {
    height: 427px;
  }

}

.stripe {
  position: absolute;
  text-align: center;
  bottom: 25%;

  .ui.green.button {
    height: 60px;
    width: 95%;
  }

  #amount {
    width: 95%;
    margin-top: 10px;
  }
}

.pcontent {
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  width: 100%;

  .projContent {
    width: 75%;
    padding: 0 5em ;
    word-wrap: break-word;

    h3 {
      font-weight: bold;
    }
    p {
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
  }

  .rewards {
    height: 310px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    background: #F8F9FD;
    border: 1px solid #e0e4fb;
    border-radius: 6px;
    position: relative;
    word-break: break-word;
    z-index: 3;
    display: block;
    opacity: 1;
    margin: 6% 0;

    .rewards-info {
      // background: #F8F9FD;
      position: relative;
      z-index: 1;
      margin: 0 20px;
      margin-top: 15%;
      padding: 20px 0;
      border-radius: 6px;


      h2 {
        color: #586BE9;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 20px;
        padding-left: 25%;
      }

      p {
        color: #80809E;
        position: relative;
        margin-bottom: 20px;
        height: auto;
      }
    }
  }


  .rewards:hover {
    background: rgba(43,222,115,0.9);
    font-size: 0px;
  }

  .rewardContainer {
    width: 25%;
  }

}

.pk_video {
  background-color: blue !important;
}

.fundList {

  h2 {
    color: #05AF3C;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 500;
  }
  h4 {
    color: #626369;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .fundStat {
    font-weight: 500;
    color: #353535;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .fundStat2 {
    line-height: 1.8rem;
    color: #626369;
    font-size: 1.4rem;
  }
}
