.viewContainer{
  width:100%;
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;

  .top{
    display: flex;
    flex-direction: row;
  }
  .goal{
    width:30%;height:500px;
    // background-color: #05AF3C;
    margin:0 10px;
    position: relative;
  }
  .media{
    width:70%;height:500px;
    background-color: red;
    margin: 0 10px;
  }

  .content {
    padding-top: 5em;
    padding-bottom: 5em;
    width: 80%;

  }

  .projContent {
    padding: 0 5em ;
    word-wrap: break-word;
  }

  .title {
    margin: 3.8rem 0;
    padding-left: 15%;
  }

  

}

.stripe {
  position: absolute;
  text-align: center;
  bottom: 25%;

  .ui.green.button {
    height: 60px;
    width: 95%;
  }
}
